<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Super Bowl Boxes
      </h1>
    </header>

    <main>
      <div class="scores">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>OT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AFC</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="afc">AFC</div>
      <div class="nfc">NFC</div>
      <div class="table">
        <table class="superbowl-pool-grid">
          <tbody>
            <tr id="row-0">
              <td id="box-0-0">&nbsp;</td>
              <td id="box-0-1">&nbsp;</td>
              <td id="box-0-2">&nbsp;</td>
              <td id="box-0-3">&nbsp;</td>
              <td id="box-0-4">&nbsp;</td>
              <td id="box-0-5">&nbsp;</td>
              <td id="box-0-6">&nbsp;</td>
              <td id="box-0-7">&nbsp;</td>
              <td id="box-0-8">&nbsp;</td>
              <td id="box-0-9">&nbsp;</td>
              <td id="box-0-10">&nbsp;</td>
            </tr>
            <tr id="row-1">
              <td id="box-1-0">&nbsp;</td>
              <td id="box-1-1">&nbsp;</td>
              <td id="box-1-2">&nbsp;</td>
              <td id="box-1-3">&nbsp;</td>
              <td id="box-1-4">&nbsp;</td>
              <td id="box-1-5">&nbsp;</td>
              <td id="box-1-6">&nbsp;</td>
              <td id="box-1-7">&nbsp;</td>
              <td id="box-1-8">&nbsp;</td>
              <td id="box-1-9">&nbsp;</td>
              <td id="box-1-10">&nbsp;</td>
            </tr>
            <tr id="row-2">
              <td id="box-2-0">&nbsp;</td>
              <td id="box-2-1">&nbsp;</td>
              <td id="box-2-2">&nbsp;</td>
              <td id="box-2-3">&nbsp;</td>
              <td id="box-2-4">&nbsp;</td>
              <td id="box-2-5">&nbsp;</td>
              <td id="box-2-6">&nbsp;</td>
              <td id="box-2-7">&nbsp;</td>
              <td id="box-2-8">&nbsp;</td>
              <td id="box-2-9">&nbsp;</td>
              <td id="box-2-10">&nbsp;</td>
            </tr>
            <tr id="row-3">
              <td id="box-3-0">&nbsp;</td>
              <td id="box-3-1">&nbsp;</td>
              <td id="box-3-2">&nbsp;</td>
              <td id="box-3-3">&nbsp;</td>
              <td id="box-3-4">&nbsp;</td>
              <td id="box-3-5">&nbsp;</td>
              <td id="box-3-6">&nbsp;</td>
              <td id="box-3-7">&nbsp;</td>
              <td id="box-3-8">&nbsp;</td>
              <td id="box-3-9">&nbsp;</td>
              <td id="box-3-10">&nbsp;</td>
            </tr>
            <tr id="row-4">
              <td id="box-4-0">&nbsp;</td>
              <td id="box-4-1">&nbsp;</td>
              <td id="box-4-2">&nbsp;</td>
              <td id="box-4-3">&nbsp;</td>
              <td id="box-4-4">&nbsp;</td>
              <td id="box-4-5">&nbsp;</td>
              <td id="box-4-6">&nbsp;</td>
              <td id="box-4-7">&nbsp;</td>
              <td id="box-4-8">&nbsp;</td>
              <td id="box-4-9">&nbsp;</td>
              <td id="box-4-10">&nbsp;</td>
            </tr>
            <tr id="row-5">
              <td id="box-5-0">&nbsp;</td>
              <td id="box-5-1">&nbsp;</td>
              <td id="box-5-2">&nbsp;</td>
              <td id="box-5-3">&nbsp;</td>
              <td id="box-5-4">&nbsp;</td>
              <td id="box-5-5">&nbsp;</td>
              <td id="box-5-6">&nbsp;</td>
              <td id="box-5-7">&nbsp;</td>
              <td id="box-5-8">&nbsp;</td>
              <td id="box-5-9">&nbsp;</td>
              <td id="box-5-10">&nbsp;</td>
            </tr>
            <tr id="row-6">
              <td id="box-6-0">&nbsp;</td>
              <td id="box-6-1">&nbsp;</td>
              <td id="box-6-2">&nbsp;</td>
              <td id="box-6-3">&nbsp;</td>
              <td id="box-6-4">&nbsp;</td>
              <td id="box-6-5">&nbsp;</td>
              <td id="box-6-6">&nbsp;</td>
              <td id="box-6-7">&nbsp;</td>
              <td id="box-6-8">&nbsp;</td>
              <td id="box-6-9">&nbsp;</td>
              <td id="box-6-10">&nbsp;</td>
            </tr>
            <tr id="row-7">
              <td id="box-7-0">&nbsp;</td>
              <td id="box-7-1">&nbsp;</td>
              <td id="box-7-2">&nbsp;</td>
              <td id="box-7-3">&nbsp;</td>
              <td id="box-7-4">&nbsp;</td>
              <td id="box-7-5">&nbsp;</td>
              <td id="box-7-6">&nbsp;</td>
              <td id="box-7-7">&nbsp;</td>
              <td id="box-7-8">&nbsp;</td>
              <td id="box-7-9">&nbsp;</td>
              <td id="box-7-10">&nbsp;</td>
            </tr>
            <tr id="row-8">
              <td id="box-8-0">&nbsp;</td>
              <td id="box-8-1">&nbsp;</td>
              <td id="box-8-2">&nbsp;</td>
              <td id="box-8-3">&nbsp;</td>
              <td id="box-8-4">&nbsp;</td>
              <td id="box-8-5">&nbsp;</td>
              <td id="box-8-6">&nbsp;</td>
              <td id="box-8-7">&nbsp;</td>
              <td id="box-8-8">&nbsp;</td>
              <td id="box-8-9">&nbsp;</td>
              <td id="box-8-10">&nbsp;</td>
            </tr>
            <tr id="row-9">
              <td id="box-9-0">&nbsp;</td>
              <td id="box-9-1">&nbsp;</td>
              <td id="box-9-2">&nbsp;</td>
              <td id="box-9-3">&nbsp;</td>
              <td id="box-9-4">&nbsp;</td>
              <td id="box-9-5">&nbsp;</td>
              <td id="box-9-6">&nbsp;</td>
              <td id="box-9-7">&nbsp;</td>
              <td id="box-9-8">&nbsp;</td>
              <td id="box-9-9">&nbsp;</td>
              <td id="box-9-10">&nbsp;</td>
            </tr>
			<tr id="row-10">
              <td id="box-10-0">&nbsp;</td>
              <td id="box-10-1">&nbsp;</td>
              <td id="box-10-2">&nbsp;</td>
              <td id="box-10-3">&nbsp;</td>
              <td id="box-10-4">&nbsp;</td>
              <td id="box-10-5">&nbsp;</td>
              <td id="box-10-6">&nbsp;</td>
              <td id="box-10-7">&nbsp;</td>
              <td id="box-10-8">&nbsp;</td>
              <td id="box-10-9">&nbsp;</td>
              <td id="box-10-10">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
