/* styles */
/* called by your view template */

body{
 display: grid; 
}

table {
 table-layout: fixed; 
  width: 100%;
  height: 10em;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid;
  width: calc(100%/11);
  text-align: center;
  padding-bottom: calc(100%/11)
}

.table{
  width: 80vw;
}

td[id$="-1"] {
  background-color: red; 
}

#row-1 {
 background-color: red; 
}
